* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --body-color: white;
    --content-color: white;
    --content-color2: black;
}

body {
    background-color: var(--body-color);
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.where__span {
    color: var(--content-color2);
    font-family: Nunito Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}



.btn {
    border: none;
    color: var(--content-color2);
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: var(--content-color);
}

nav .container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}



main input {
    width: 480px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 5px;
    background-color: var(--content-color);
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
    border: none;

}

.dark {
    --body-color: #202C36;
    --content-color: #2B3844;
    --content-color2: white;
}

.flags {
    padding-top: 48px;
    height: 747px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

.flag {
    width: 264px;
    height: 336px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    overflow: hidden;
    background: var(--content-color);
}

.inpt {
    color: #848484;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
}

h3 {
    color: var(--content-color2);
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 26px;
    /* 144.444% */

}

p span {
    color: var(--content-color2);
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    /* 114.286% */
    color: var(--content-color2);
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
}


p {
    color: var(--content-color2);
}

.flag img {
    margin-bottom: 24px;
}

.flag h3 {
    margin-bottom: 16px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info img {
    width: 560px;
}

.malumot {
    width: 598px;
    height: 323px;
}

@media(max-width: 376px) {
    .container {
        max-width: 343px;
    }

    input {
        max-width: 343px;

    }

    .flags {
        display: flex;
        justify-content: center;
        gap: 40px;
    }
}